In [2]:
import pandas as pd
import numpy as np

In [4]:
countires = ['USA', 'USA', 'Canada', 'Mexico', 'UK', 'Spain', 'Morocco']
#if provided a m=bunch of floats/multi diget integers
# it might be best to round these numbers
# You'd have to hard code for large countries at this step
latitude = ['2', '2', '1','3','1','2','3'] 
longitude = ['1', '0', '1','1','2','2.5','2']
# I already have a broad idea of the shape of the map it will be...
matrix_height = 3
matrix_len = 2

sort_countries = pd.DataFrame({'Country': countires, 'Lat': latitude, 'Lon': longitude})
sort_countries.head()

  Country Lat Lon
0     USA   2   1
1     USA   2   0
2  Canada   1   1
3  Mexico   3   1
4      UK   1   2

In [5]:
sort_countries.Lat.sort_values()

2    1
4    1
0    2
1    2
5    2
3    3
6    3
Name: Lat, dtype: object

In [6]:
# as of right now the countries are unordered
# first we must sort the data so that it can be an ordered matrix
table = pd.pivot_table(sort_countries, index=['Lat', 'Lon'], aggfunc=np.sum).reset_index()

In [7]:
# table returns my features sorted by Lat and then sorted by Lon
# writing a new column which is a copy of the newly indexed information
# see the table below
table['index'] = table.index

In [8]:
table

  Lat  Lon  Country  index
0   1    1   Canada      0
1   1    2       UK      1
2   2    0      USA      2
3   2    1      USA      3
4   2  2.5    Spain      4
5   3    1   Mexico      5
6   3    2  Morocco      6

In [9]:
# if we were to sort the data as a matrix it would look like this
# [[0, 1, 2],
#  [3, 4, 5]]
# there must be a way to transform this list into a matrix...

In [11]:
np.matrix([list(table.index[:2]), list(table.index[2:4]), list(table.index[5:])])

matrix([[0, 1],
        [2, 3],
        [5, 6]])

In [ ]:
# using the your previous idea of the dimetions of the map we can kinda figure out the shape of the final matrix

matrix_entires = table.shape[0]
matrix_entires / matrix_len

In [ ]:
# what if a country is two spaces long
# what if a country is two space wide


def horizontal_adjacency(country,number_of_countries):
    '''
    checks for horizontal geospatial adjaceny and adds to adjacency list
    '''
    
    return list_of_adjacencies

def vertical_adjacency(country):
    '''
    checks for vertical adjacency and adds to adjacency list
    '''
    return list_of_adjacencies

def diagonal_adjacency(country):
    '''
    checks for horizontal adjacency in either direction and adds to adjacency list
    '''
    return list_of_adjacencies

def check_adjacency(data):
    '''
    uses helper functions to build a new adjecency feature associated with each country in the dataset
    '''
    for country in data:
        adjacent = horizontal_adjacency(country)
        adjacent = adjacent + vertical_adjacency(country) # adding one list on to the end of the first list
        adjacent = adjacent + diagonal_adjacency(country)
        
    
    return data['adjacentcies'] = adjacent # this final return statement won't work right in python fyi